html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  background-image: url(/media/abstract.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  height: 100%;
  padding: 2rem 8rem;
  /* gap: 10rem; */
  max-width: 87%;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 50%;
  background-image: url(/media/cat.jpg);
  background-size: contain;
}
/* h1::before {
  content: " ";
  background-image: url(/media/odin-logo.png);
} */
h1 {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.34);
  padding: 3rem 0;
  font-size: 3rem;
  letter-spacing: 10px;
  color: #cfcfcf;
}
h1 ~ small {
  color: white;
}
a[target="_blank"] {
  color: yellow;
}
.right {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* padding: 0 8rem; */
}
h2 {
  margin: 2.8rem 0 4rem 0;
  font-size: 2.4rem;
  max-width: 85%;
}
#start {
  color: rgb(36, 36, 209);
}
.signup-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}
fieldset {
  border: none;
  margin-bottom: auto;
}
legend {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 1.25rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}
input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
}
input:focus {
  outline: none;
}

form ~ p {
  text-align: center;
  margin: 20px 0;
}
#create {
  align-self: flex-start;
}
label {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  padding: 40px 50px;
}
label > span {
  transition: all 0.2s;
  transform-origin: top left;
}
label > input[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateY(1em) scale(1.2);
  pointer-events: none;
  opacity: 0.5;
}

input,
button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid black;
}

.toc {
  margin: 0 2rem;
}
#create {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  color: #0000ff;
  box-shadow: 0 0 20px #d1d1d1;
  border-radius: 15px;
  border: none;
}
#create:hover {
  background-position: right center;
  color: #eee;
  background-color: #0000ffa4;
}
.toc p:first-of-type {
  margin-bottom: 3.75rem;
}
.toc p:last-of-type,
legend {
  font-size: 1.4;
  font-weight: bold;
}
footer {
  margin-top: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}

/* Remove input type number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Media queries */
/* @media only screen and (max-width: 600px) {
  .left {
    display: none;
  }
} */

/* @media only screen and (min-width: 1930px) {
  *{
    font-size: clamp();
  }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    max-width: unset;
    height: unset;
    padding-left: unset;
    padding-right: unset;
  }
  .left {
    display: none;
  }
  h2 {
    margin: 0 2rem 3rem 2rem;
  }
  #start {
    padding-top: 20px;
  }
  .right h2 {
    max-width: 100%;
    text-align: center;
  }
  legend {
    padding: 0;
    text-align: center;
    font-size: 2rem;
  }
  label {
    padding: 1.25rem 3.125rem;
  }
  .toc {
    text-align: center;
  }
  .toc p:first-of-type {
    margin: 20px 0 40px 0;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1930px) {
  ...;
}

/* clamp(min, val, max) */
